.card-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonback {
  color: #ffffff;
  background-color: lightcoral;
  font-family: "Montserrat", sans-serif;
  padding: 0.7rem;
  font-weight: 400;
  display: block;
  width: 70%;
  text-align: center;
  margin: 3rem;

  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonback:hover {
  background-color: #ffffff;
  text-decoration: underline;
  color: lightcoral;
  border: solid 1.5px rgb(255, 83, 83);
}
.buttonokay {
  color: #ffffff;
  background-color: #6ed391;
  font-family: "Montserrat", sans-serif;
  padding: 0.7rem;
  font-weight: 400;
  display: block;
  width: 70%;
  text-align: center;
  margin: 3rem;

  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonokay:hover {
  background-color: #ffffff;
  text-decoration: underline;
  color: #6ed391;
  border: solid 1.5px #6ed391;
}
